
header{
    height: 70px;
    background-color: red;
    margin-top: 0;
    margin-bottom: 10;
    text-transform: lowercase;
    font-size: 25;
    font-style: italic;
}
footer{
    background-color: red;
}